/*-----------------------------------------------------------
        Big
/*-----------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

/*-----------------------------------------------------------
        Top
/*-----------------------------------------------------------*/
.top {
    margin-left:1.5%;
    margin-right:1.5%;
    background-color: white;
    background-size: cover;
    background-origin: border-box;
    background-position: center;
    height: 100px;
    width:97%;
    float: left;
    position: fixed;
    border-bottom: 4px solid black;
}

/*-----------------------------------------------------------
        Header
/*-----------------------------------------------------------*/

.header{
    height: 150px;
    float: left;
    /*border-bottom: 2px solid white;*/
    width: 100%;
    
}
#mid{
    width:10%;
    padding-top: 30px;
    float: right;
    font-family: 'Prociono', cursive;
    font-size: 40px;
    color: black;
    text-align: center;
}

#left-head{
    float: left;
    width:75%;
}

#right-head{
    float: right;
    width:42.5%;
}

#left-head ul{
    padding-top: 30px;
    float: left;
    margin-left: 2.5%;
}

.header li {
    font-family: 'Prociono', cursive;
    font-size: 26px;
    display: inline;
}

.header a {
    text-decoration: none;
    color: black;
    padding-left:10px;
    padding-right: 10px;
}

.header a:hover {
    color: gainsboro;
    border-bottom: 4px solid orangered;
}

.about{
    float: left;
    padding-top:200px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom:100px;
}
.about img{
    width: 35%;
    margin-right:5%;
    height:600px;
    float:left;
}
.about h1{
    float: left;
    font-family: 'Prociono', cursive;
    font-size: 35px;
    font-weight: bold;
    width: 60%;
}
.about p{
    float: left;
    font-family: 'Prociono', cursive;
    font-size: 22px;
    width: 60%;
}
.about span{
    text-decoration: underline;
    color: black;
}
.about span:hover{
    color: orangered;
}

.footer{
    float: left;
    width: 97%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 1%;
}

.footer ul{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 24px;
}

.footer li {
    font-family: sans-serif;
    font-size: 26px;
    display: inline;
    
}

.footer a {
    text-decoration: none;
    color: white;
    padding-left:10px;
    padding-right: 10px;
    
}

.footer a:hover {
    color: orangered;
}

.footer img{
    opacity: 0.7;
    height: 50px;
    width: 50px;
}
.footer img:hover{
    opacity: 1.0;
}

